
@mainWidth: 1020px;
@lightBlue: #C9D0FF;
@blue: #007BFF;

.rounded-corner {
    border: 1px solid @blue;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto 20px;
}

.clear {
    clear:both;
}

.mainframe {
    width: @mainWidth;
    margin: auto;
}

header {
    .rounded-corner;
    background: @lightBlue;
}

.col {
    background: @lightBlue;
    float:left;
}

.col-2 {
    width: 2 * (@mainWidth / 6) - 20;
    padding: 10px;
}

.col-4 {
    width: 4 * (@mainWidth / 6) - 20;
    padding: 10px;
}

footer {
    .rounded-corner;
}